<h4><i class="fas fa-medkit"></i>Precious Drugs</h4>
<div class="section">
    <p class="lead">Get Quality drugs</p>
</div>
<div class="divider"></div>
<div class="section">
    <a href="/auth/google" class="btn  darken-1">
        <i class="fab fa-google left"></i>Login with Google
    </a>
</div>


<div class="section"><a href="/register" class="btn  darken-1"><i class="fab  left"></i>Register with email</a>
</div>


<div class="section1"><a href="/sign-in" class="btn  darken-1"><i class="fab  left"></i>Sign In </a></div>