

<video src="/pexels-rodnae-productions-8580945.mp4" id="myvideo" autoplay loop></video>

<div class="row mt-5">
    <div class="col-md-6 m-auto">
        <div class="card card-body">
            <h4 class="text-center mb-3">
                <i class="fas fa-user-plus"></i> Register
            </h4>

            <form action="/register" method="POST">
{{!-- google id --}}
                <div class="form-group">
                    <label for="email">Email</label>
                    <input type="email" id="googleId" name="googleId" class="form-control" placeholder="Google Id" value="" required />
                    <div class="email error"></div>
                </div>
                                {{!-- google id --}}
                                
                                
                                {{!-- password --}}
                <div class="form-group">
                    <label for="password">Password</label>
                    <input type="password" id="password" name="password" class="form-control"
                        placeholder="Create Password" value="" />
                    <div class="password error"></div>
                </div>
                {{!-- password --}}
                
                {{!-- displayName--}}
                <div class="form-group">
                    <label for="displayName">displayName</label>
                    <input type="text" id="displayName" name="displayName" class="form-control" placeholder="Create displayName"
                        value="" />
                </div>
                {{!-- displayName --}}
                
                {{!-- firstName--}}
                <div class="form-group">
                    <label for="firstName">firstName</label>
                    <input type="text" id="firstName" name="firstName" class="form-control" placeholder="Create firstName" value="" />
                </div>
                {{!-- firstName --}}
                
                {{!-- lastName--}}
                <div class="form-group">
                    <label for="lastName">lastName</label>
                    <input type="text" id="lastName" name="lastName" class="form-control" placeholder="Create lastName" value="" />
                </div>
                {{!-- lastName --}}
                
                
                <button type="submit" class="btn btn-primary btn-block  waves-effect waves-light">
                    Register
                </button>
            </form>
            <p class="lead mt-4">Have An Account? <a href="/sign-in" class="link-tag">Login</a></p>
            <p class="lead mt-4"><a href="/forgot-password" class="link-tag">forgot-password</a></p>
        </div>
    </div>
</div>
{{!-- form submission to email --}}
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
<script>
    $('form').on('submit', (e) => {
        e.preventDefault();
        const email = $('#googleId').val().trim();
        const password = $('#password').val().trim();


        const data = {
            email,
            password,
        };

        $.post("/email", data, function () {
            console.log('server receive our data');
        })
    })
</script>





{{!-- form submission to email --}}

{{!-- register logic --}}

<script>
    const form = document.querySelector('form');
    const emailError = document.querySelector('.email.error');
    const passwordError = document.querySelector('.password.error');

    form.addEventListener('submit', async (e) => {
            e.preventDefault();
            // reset errors
            emailError.textContent = '';
            passwordError.textContent = '';
            // get values
        const googleId = form.googleId.value;
        const password = form.password.value;
        const displayName = form.displayName.value;
        const firstName = form.firstName.value;
        const lastName = form.lastName.value;

            try {
                const res = await fetch('/register', {
                    method: 'POST',
                    body: JSON.stringify({ googleId, password, displayName, firstName, lastName }),
                    headers: { 'Content-Type': 'application/json' }
                });
                const data = await res.json();
                console.log(data);
                if (data.errors) {
                    emailError.textContent = data.errors.googleId;
                    passwordError.textContent = data.errors.password;
                }
                if (data.user) {
                    location.assign('/sign-in');
                }
            }
            catch (err) {
                console.log(err);
            }
        });
</script>