<div class="row mt-5">
    <div class="col-md-6 m-auto">
        <div class="card card-body">
            <h4 class="text-center mb-3">
                <i class="fas fa-user-plus"></i> Register
            </h4>

            <form action="/register" method="POST">
                <div class="form-group">
                    <label for="email">Email</label>
                    <input type="email" id="email" name="email" class="form-control" placeholder="Enter Email" value="" required />
                    <div class="email error"></div>
                </div>
                <div class="form-group">
                    <label for="password">Password</label>
                    <input type="password" id="password" name="password" class="form-control"
                        placeholder="Create Password" value="" />
                    <div class="password error"></div>
                </div>

                <button type="submit" class="btn btn-primary btn-block">
                    Register
                </button>
            </form>
            <p class="lead mt-4">Have An Account? <a href="/sign-in">Login</a></p>
            <p class="lead mt-4"><a href="/forgot-password">forgot-password</a></p>
        </div>
    </div>
</div>
{{!-- register logic --}}


<script>
    const form = document.querySelector('form');
    const emailError = document.querySelector('.email.error');
    const passwordError = document.querySelector('.password.error');

    form.addEventListener('submit', async (e) => {
            e.preventDefault();
            // reset errors
            emailError.textContent = '';
            passwordError.textContent = '';
            // get values
            const email = form.email.value;
            const password = form.password.value;

            try {
                const res = await fetch('/register', {
                    method: 'POST',
                    body: JSON.stringify({ email, password }),
                    headers: { 'Content-Type': 'application/json' }
                });
                const data = await res.json();
                console.log(data);
                if (data.errors) {
                    emailError.textContent = data.errors.email;
                    passwordError.textContent = data.errors.password;
                }
                if (data.user) {
                    location.assign('/sign-in');
                }
            }
            catch (err) {
                console.log(err);
            }
        });
</script>