<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Wonderful Direct | Services</title>
</head>

<body>
    <section class="services">
        <!--heading---------------->
        <div class="s-heading">
            <h1> Our Ser<font color="#108775">vic</font>es</h1>
            <p>We Provide The Best of Drugs For Our Customers</p>
        </div>
        <!--services-box-container------------------->
        <div class="s-box-container">
            <!--service-box-1---------------->
            <div class="s-box">
                <!--top-bar-------->
                <div class="bar"></div>
                <!--img---------->
                <img alt="1" src="/pexels-pietro-jeng-360622.jpg" />
                <!--servies-name---------->
                <h1>Drugs Supply</h1>
                <!--details------>
                <p>Buy Drugs with 3-easy steps</p>
                <!--btn---------->
                <a class="s-btn" href="#">More</a>
            </div>
            <!--service-box-1---------------->
            <div class="s-box">
                <!--top-bar-------->
                <div class="bar"></div>
                <!--img---------->
                <img alt="2" src="/pexels-pixabay-356040.jpg" />
                <!--servies-name---------->
                <h1>Consultation</h1>
                <!--details------>
                <p>Make a day with our Expert for Medical Consultation</p>
                <!--btn---------->
                <a class="s-btn" href="#">More</a>
            </div>
            <!--service-box-3---------------->
            <div class="s-box">
                <!--top-bar-------->
                <div class="bar"></div>
                <!--img---------->
                <img alt="3" src="/pexels-freestocksorg-143654.jpg" />
                <!--servies-name---------->
                <h1>Drug Shipping</h1>
                <!--details------>
                <p>We ship drugs at your orders</p>
                <!--btn---------->
                <a class="s-btn" href="#">More</a>
            </div>
        </div>
    </section>
</body>

</html>