@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,300;0,600;0,700;1,200&display=swap');
:root {
    --overlay-color: #0a5a565e;
}

p {
    margin: 10px 0 !important;
}

.login-container {
    width: 400px;
    margin-top: 50px;
    text-align: center;
}

.fa-small {
    font-size: 16px !important;
}

.btn-float {
    float: left;
    margin-right: 10px;
}

.img-small {
    width: 180px;
}

.fa-trash {
    float: right;
    margin-right: 4px;
}

.btn {
    /* width: 77.2rem; */
    font-weight: bold;
}

.bun {
    width: 30px;
}


/* copy */


/* * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Fira sans', sans-serif;
} */


/* body {
    background-color: #2F4960;
    background-image: linear-gradient(to bottom right, #2F4960 10%, #102040);
} */

.app {
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
}

.home {
    width: 100%;
    max-width: 400px;
    padding: 50px 30px;
    background-color: #ffffff;
    border-radius: 16px;
    text-align: center;
}


/* form {
    display: block;
    width: 100%;
    max-width: 400px;
    padding: 50px 30px;
    background-image: linear-gradient(to bottom, #00BC7E, #108775);
    box-shadow: 0px 6px 12px rgba(0, 0, 0, 0.2);
    border-radius: 16px;
} */

form h1 {
    color: #FFF;
    font-size: 36px;
    text-transform: uppercase;
    margin-bottom: 30px;
}

.err-msg {
    padding: 10px 15px;
    background-color: #fff;
    border-radius: 8px;
    margin-bottom: 15px;
    color: red;
    box-shadow: 0px 6px 12px rgba(0, 0, 0, 0.2);
}

form .form-group {
    margin-bottom: 30px;
}

form label {
    display: block;
    color: #eee;
    font-size: 14px;
    margin-bottom: 5px;
}

form input {
    appearance: none;
    background: none;
    outline: none;
    border: none;
}

form input:not([type="submit"]) {
    display: block;
    width: 100%;
    padding: 15px;
    border-radius: 8px;
    background-color: rgba(0, 0, 0, 0.2);
    box-shadow: 0px 0px 0px rgba(0, 0, 0, 0);
    transition: 0.4s;
    color: #222;
    font-size: 18px;
    font-weight: 300;
}

form input:not([type="submit"])::placeholder {
    color: #CCC;
}

form input:not([type="submit"]):focus,
form input:not([type="submit"]):valid {
    background-color: #fff;
    box-shadow: 0px 6px 12px rgba(0, 0, 0, 0.2);
}

form input[type="submit"] {
    display: block;
    width: 100%;
    padding: 15px;
    border-radius: 8px;
    background-color: #2F4960;
    box-shadow: 0px 0px 0px rgba(0, 0, 0, 0);
    transition: 0.4s;
    color: #FFF;
    font-size: 20px;
    font-weight: 700;
    cursor: pointer;
}

.card {
    display: block;
    width: 100%;
    max-width: 400px;
    padding: 5px 20px;
    background-image: linear-gradient(to bottom, #00BC7E, #108775);
    box-shadow: 0px 6px 12px rgba(0, 0, 0, 0.2);
    border-radius: 16px;
    color: #fff;
}

button {
    background-color: #108775;
    color: #fff;
    padding: 8px 5px;
    border-radius: 10px;
    border: white;
    cursor: pointer;
    display: inline-block;
}

button:hover {
    background-color: #00BC7E;
}

.b {
    padding-left: 10rem;
    padding-right: 4rem;
}

#submit {
    background-image: linear-gradient(to bottom, #00BC7E, #108775);
}

.container-signin {
    padding-top: 3rem;
    padding-left: 22rem;
}

.card {
    background-repeat: no-repeat;
    background-position: 50% 50%;
    /* max-width: 20rem;
    max-height: 6rem; */
    text-align: center;
    justify-content: center;
    background-size: cover;
    resize: both;
    /* overflow: auto; */
}

.footer-copyright {
    background-image: linear-gradient(to bottom, #00BC7E, #108775);
    text-align: center;
}

.page-footer {
    background-image: linear-gradient(to bottom, #00BC7E, #108775);
}


/* video */

#myvideo {
    position: fixed;
    right: 0;
    bottom: 0;
    min-width: 100%;
    min-height: 100%;
    z-index: -50;
    opacity: 0.7;
}


/* overlay */

.overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: var(--overlay-color);
    mix-blend-mode: overlay;
}