@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,300;0,600;0,700;1,200&display=swap');
:root {
    --overlay-color: #0a5a565e;
}

p {
    margin: 10px 0 !important;
}

.login-container {
    width: 400px;
    margin-top: 50px;
    text-align: center;
}

.fa-small {
    font-size: 16px !important;
}

.btn-float {
    float: left;
    margin-right: 10px;
}

.img-small {
    width: 180px;
}

.fa-trash {
    float: right;
    margin-right: 4px;
}

.btn {
    /* width: 77.2rem; */
    font-weight: bold;
}

.bun {
    width: 30px;
}


/* copy */


/* * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Fira sans', sans-serif;
} */


/* body {
    background-color: #2F4960;
    background-image: linear-gradient(to bottom right, #2F4960 10%, #102040);
} */

.app {
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
}

.home {
    width: 100%;
    max-width: 400px;
    padding: 50px 30px;
    background-color: #ffffff;
    border-radius: 16px;
    text-align: center;
}


/* form {
    display: block;
    width: 100%;
    max-width: 400px;
    padding: 50px 30px;
    background-image: linear-gradient(to bottom, #00BC7E, #108775);
    box-shadow: 0px 6px 12px rgba(0, 0, 0, 0.2);
    border-radius: 16px;
} */

form h1 {
    color: #FFF;
    font-size: 36px;
    text-transform: uppercase;
    margin-bottom: 30px;
}

.err-msg {
    padding: 10px 15px;
    background-color: #fff;
    border-radius: 8px;
    margin-bottom: 15px;
    color: red;
    box-shadow: 0px 6px 12px rgba(0, 0, 0, 0.2);
}

form .form-group {
    margin-bottom: 30px;
}

form label {
    display: block;
    color: #eee;
    font-size: 14px;
    margin-bottom: 5px;
}

form input {
    appearance: none;
    background: none;
    outline: none;
    border: none;
}

form input:not([type="submit"]) {
    display: block;
    width: 100%;
    padding: 15px;
    border-radius: 8px;
    background-color: rgba(0, 0, 0, 0.2);
    box-shadow: 0px 0px 0px rgba(0, 0, 0, 0);
    transition: 0.4s;
    color: #222;
    font-size: 18px;
    font-weight: 300;
}

form input:not([type="submit"])::placeholder {
    color: #CCC;
}

form input:not([type="submit"]):focus,
form input:not([type="submit"]):valid {
    background-color: #fff;
    box-shadow: 0px 6px 12px rgba(0, 0, 0, 0.2);
}

form input[type="submit"] {
    display: block;
    width: 100%;
    padding: 15px;
    border-radius: 8px;
    background-color: #2F4960;
    box-shadow: 0px 0px 0px rgba(0, 0, 0, 0);
    transition: 0.4s;
    color: #FFF;
    font-size: 20px;
    font-weight: 700;
    cursor: pointer;
}

.card {
    display: block;
    width: 100%;
    max-width: 400px;
    padding: 5px 20px;
    background-image: linear-gradient(to bottom, #00BC7E, #108775);
    box-shadow: 0px 6px 12px rgba(0, 0, 0, 0.2);
    border-radius: 16px;
    color: #fff;
}

button {
    background-color: #108775;
    color: #fff;
    padding: 8px 5px;
    border-radius: 10px;
    border: white;
    cursor: pointer;
    display: inline-block;
}

button:hover {
    background-color: #00BC7E;
}

.b {
    padding-left: 10rem;
    padding-right: 4rem;
}

#submit {
    background-image: linear-gradient(to bottom, #00BC7E, #108775);
}

.container-signin {
    padding-top: 3rem;
    padding-left: 22rem;
}

.card {
    background-repeat: no-repeat;
    background-position: 50% 50%;
    /* max-width: 20rem;
    max-height: 6rem; */
    text-align: center;
    justify-content: center;
    background-size: cover;
    resize: both;
    /* overflow: auto; */
}

.footer-copyright {
    background-image: linear-gradient(to bottom, #00BC7E, #108775);
    text-align: center;
}

.page-footer {
    background-image: linear-gradient(to bottom, #00BC7E, #108775);
}


/* video */

#myvideo {
    position: fixed;
    right: 0;
    bottom: 0;
    min-width: 100%;
    min-height: 100%;
    z-index: -50;
    opacity: 0.7;
}


/* overlay */

.overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: var(--overlay-color);
    mix-blend-mode: overlay;
}


/* about page */

.about.page {
    text-align: center;
    justify-content: center;
    width: 60%;
    margin: auto;
}

.about-page-heading {
    text-align: center;
}


/* services */

.services {
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
}

.s-heading {
    text-align: center;
}

.s-heading h1 {
    color: #108775;
    font-size: 3rem;
    font-weight: 400;
    letter-spacing: 1px;
    margin: 0px;
}

.s-heading p {
    color: #108775;
    font-size: 1rem;
    margin: 5px;
    text-align: center;
}

.s-box-container {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.s-box {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
    width: 400px;
    padding: 20px 25px;
    height: 400px;
    box-sizing: border-box;
    margin: 30px;
    position: relative;
    color: #fff;
    box-shadow: 5px 10x #888888;
    background-color: rgb(224, 252, 224);
}

.s-box img {
    height: 75px;
}

.s-box h1 {
    color: #108775;
    letter-spacing: 1px;
    font-size: 1.5rem;
    margin-bottom: 8px;
}

.s-box p {
    color: #108775;
    text-align: center;
}

.s-btn {
    width: 140px;
    height: 40px;
    border-radius: 20px;
    border: 1px solid #108775;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #108775;
    margin-top: 10px;
}

.bar {
    width: 100px;
    height: 6px;
    position: absolute;
    left: 50%;
    top: 0%;
    transform: translateX(-50%);
    background-color: #108775;
    border-radius: 0px 0px 10px 10px;
    display: none;
    animation: bar 0.5s;
}

.s-box:hover {
    box-shadow: 2px 2px 30px rgba(0, 0, 0, 0.08);
    transition: all ease 0.3s;
}

.s-btn:hover {
    background-color: #108775;
    border: 1px solid #108775;
    color: #FFFFFF;
    transition: all ease 0.3s;
}

.s-box:hover .bar {
    display: block;
}


/* faq */

.faq_question {
    margin: 0px;
    padding: 0px 0px 5px 0px;
    display: inline-block;
    cursor: pointer;
    font-weight: bold;
}

.faq_answer_container {
    height: 0px;
    overflow: hidden;
    padding: 0px;
}

.faq_container {
    margin-top: 2rem;
    margin-bottom: 2rem;
    background-color: #108775;
    padding: 2rem;
    color: #fff;
}

@keyframes bar {
    0% {
        width: 0px;
    }
    100% {
        width: 100px;
    }
}

@media(max-width:1050px) {
    .s-box-container {
        flex-wrap: wrap;
    }
    .services {
        height: auto;
    }
    .s-heading {
        margin: 15px;
    }
    .s-box {
        flex-grow: 1;
    }
}


/* mynav */

.my-nav {
    opacity: 0.4;
    background-color: #424242;
    z-index: -40;
    /* padding: 0.8rem; */
}

.my-nav-ul a {
    color: #fff;
    font-weight: bold;
    font-size: 1.2rem;
    z-index: 40;
    font-family: 'Raleway';
}

.my-nav-ul {
    display: flex;
    flex: 1 1 10rem;
    justify-content: space-around;
    align-items: center;
}


/* flutter buutton */

.flutter-button {
    background-color: #108775;
    padding: 0.5rem;
    color: #fff;
    border-radius: 10px;
}